html {
    background: url("../images/background/background-image.jpg") center center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
}

header {
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: fixed;
}

.search-form {
    opacity: 0.75;
    margin: 5px;
    float: right;
}

.company {
    opacity:1;
    text-align: center;
}

main {
    color: white;
    padding: 50px 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
}

#searchInput {
    padding: 5px;
    border: solid #ffffff 2px;
    color: #ffffff;
    background-color: rgba(50, 50, 50, 1);
}

td.td-padding {
    padding: 5px;
}

iframe {
    border: none;
}

.frame {
    position: absolute;
    margin-top: 5px;
    left: 0;
    top: 95px;
    bottom: 30px;
    width: 74.5%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    overflow-y: auto;
    margin-top: 5px;
    width: 25%;
    position: absolute;
    right: 0;
    top: 95px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}